.todo-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    border: 1px solid lightgrey;
    padding: 8px;
}
.todo-list button{
    background: red;
    border: none;
    color: white;
    font-size: 12px;
    padding: 5px;
    width: 100px;
    cursor: pointer;
    border-radius: 5px;
}